* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #12001f;
  color: white;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: #000;
  padding: 25px;
}

.logo {
  color: #b96cff;
  text-align: center;
  margin-bottom: 40px;
}

.menu li {
  list-style: none;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.menu li:hover {
  background: #7b2cbf;
}

/* MAIN */
.main {
  flex: 1;
  background: linear-gradient(135deg, #2a004f, #12001f);
  padding: 20px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 30px;
  background: #1e0038;
  border-radius: 10px;
  display: none;
}

.dropdown div {
  padding: 12px 20px;
}

.dropdown div:hover {
  background: #7b2cbf;
}

.logout {
  color: #ff6b6b;
}

/* SECTIONS */
.section {
  display: none;
  margin-top: 40px;
}

.section.active {
  display: block;
}

.title {
  font-size: 60px;
  color: #c77dff;
}

.subtitle {
  font-size: 20px;
  max-width: 500px;
  margin-top: 15px;
}

/* LEARN */
.lesson-btn {
  background: #5a189a;
  padding: 12px;
  border-radius: 8px;
  margin: 10px 0;
  cursor: pointer;
}

.lesson-btn.completed {
  background: #2d6a4f;
}

.quiz-option {
  margin: 8px 0;
  padding: 10px;
  background: #3c096c;
  border-radius: 6px;
  cursor: pointer;
}









